<%= link_to 'Back', project_path(@project), class: 'btn btn-secondary mb-3' %>

<div class="card">
    <h2 class='card-header'>
      <span>Edit project</span>
    </h2>

    <%= render 'form', project: @project %>
</div>