<!-- <div class="card w-50">
  <div class="card-header">
    <%= @task.name %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @task.description %></h5>
    <p class="card-text"><%= @task.status %></p>
  </div>
</div> -->